{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}



{% block extrastyle %}
    {# Changing the color of the help text across the entire admin #}
    <style>
	 .field-resimulTime{
        border-style: solid 1px;
        border-color: #fff;
	color: #000;
	background-color: #ace1af;
        }

	 .field-drawingTime{
        border-style: solid 1px;
        border-color: #fff;
	color: #000;
	background-color: #fbec5d;
        }

	 .field-drawingDoctor{
        border-style: solid 1px;
        border-color: #fff;
	color: #000;
	background-color: #fbec5d;
        }

	 .field-planningTime{
        border-style: solid 1px;
        border-color: #fff;
	color: #000;
	background-color: #00cc99;
        }

	 .field-planningDoctor{
        border-style: solid 1px;
        border-color: #fff;
	color: #000;
	background-color: #00cc99;
        }

	 .field-ok1{
        border-style: solid 1px;
        border-color: #fff;
	color: #000;
	background-color: #edc9af;
        }

	 .field-ok2{
        border-style: solid 1px;
        border-color: #fff;
	color: #000;
	background-color: #edc9af;
        }
    </style>
{% endblock %}
